<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Dojo Survey</h1>
        <ul>
            <li>Your name: <%= data.name %></li>
            <li>Your location: <%= data.location %></li>
            <li>Your language: <%= data.language %></li>
            <li>Your comment: <%= data.comment %></li>
        </ul>
    </body>
</html>
