<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Counter</h1>
    <h3>Count: <%= count %></h3>

    <a href="/plus_two"><button type="button" name="button1">Plus 2</button></a>
    <a href="/reset"><button type="button" name="button2">Reset</button></a>
  </body>
</html>
