<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome<%= name %> </title>
    </head>
    <body>
      <h1>Welcome <%= name %>!</h1>
      <h4>You are now registered.</h4>
      <a href="/logout"><button type="button" name="button">Logout</button></a>
    </body>
</html>
