<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index Page</title>
    </head>
    <body>
        <h1>Welcome to Quoting Dojo!</h1>
        <form class="" action="/quotes" method="post">
            <input type="text" name="author" placeholder="Your name"><br>
            <textarea name="quote" rows="8" cols="80" placeholder="Your quote here"></textarea><br>
            <input type="submit" name="" value="Add my quote!">
        </form>
        <a href="/quotes"><button>Skip to Quotes!</button></a>
    </body>
</html>
