<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo</h1>
    <form class="" action="/quotes" method="post">
      <input type="text" name="name" placeholder="Your Name"><br>
      <input type="text" name="content" placeholder="Your Quote"><br>
      <input type="submit" name="" value="Add My Quote!"><br>
    </form>
    <br>
    <a href="/quotes">Skip to Quotes</a>
  </body>
</html>
